#consultancy{
    padding-top: 80px;
    position: relative;
  
}

#consultancy .icon{
    font-size: 40px;
    position: absolute;
    top: 230px;
    left: 100px;
    color: #fff;
}
#consultancy .textpart1{
    padding-left: 90px;
}
.bgcolor{
    background-color: #e54209;
    padding: 40px;
}
.bgcolor:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bgcolor2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bgcolor3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#consultancy .textpart1 h2{
    font-size: 80px;
    font-family: 'myriad', sans-serif;
    font-weight: 800;
    color: #fff;
}
#consultancy .textpart1 h3{
    color: #fff;
}
#consultancy .textpart1 p{
    color: #fff;
}
#consultancy .textpart1 a{
    color: #fff;
    text-decoration: none;
}


#consultancy .bgcolor2 .icon{
    font-size: 40px;
    position: absolute;
    top: 230px;
    left: 680px;
    color: #000;
}
#consultancy .bgcolor2 .textpart1{
    padding-left: 110px;
}
#consultancy .bgcolor2 .textpart1 h2{
    font-size: 80px;
    font-family: 'myriad', sans-serif;
    font-weight: 800;
    color: #000000;
}
#consultancy .bgcolor2 .textpart1 h3{
    color: #000000;
}
#consultancy .bgcolor2 .textpart1 p{
    color: #000000;
}
#consultancy .bgcolor2 .textpart1 a{
    color: #000000;
    text-decoration: none;
}
.bgcolor2{
    color: #fff;
    padding: 40px;
}

#consultancy .icon3{
    font-size: 40px;
    position: absolute;
    top: 580px;
    left: 100px;
    color: #000000;
}



#consultancy .icon4{
    font-size: 40px;
    position: absolute;
    top: 580px;
    left: 680px;
    color: #ffffff;
}
#consultancy .textpart1{
    padding-left: 110px;
}
.bgcolor3{
    background-color: #000000;
    padding: 40px;
}
#consultancy .bgcolor3 .textpart1 h2{
    font-size: 80px;
    font-family: 'myriad', sans-serif;
    font-weight: 800;
    color: #ffffff;
}
#consultancy .bgcolor3 .textpart1 h3{
    color: #ffffff;
}
#consultancy .bgcolor3 .textpart1 p{
    color: #ffffff;
}
#consultancy .bgcolor3 .textpart1 a{
    color: #ffffff;
    text-decoration: none;
}