#brand{
    padding: 80px;
}

#intro_video{
    padding: 50px 0px 300px 0px;
    background: #000;
}

#intro_video .text_main ul li{
    padding-left: 20px;
}

#intro_video .text_main ul li{
    display: inline-block;
}

#intro_video .text_main ul i{
    font-size: 40px;
    display: inline-block;
    color: #f8491d;
}
#intro_video p{
    padding: 20px 0px;
}
#intro_video h5{
    color: #e54209;
    font-size: 14px;
    font-family: 'myriad', sans-serif;
}
#intro_video h2{
    color: #ffffff;
    font-size: 60px;
    font-family: 'myriad', sans-serif;
    font-weight: 600;
}
#intro_video p{
    color: #ffffff;
    font-size: 14px;
    font-family: 'myriad', sans-serif;
    width: 70%;
}

#intro_video ul li{
    color: #ffffff;
    font-family: 'myriad', sans-serif;
}

#intro_video ul .icon{
    color: #f72f2f;
    font-size: 25px;
}

/* we have done */
/* .image_part{
    background: url(../images/Black-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px 50px 0px;
} */
.image_part .image_part_text{
    padding-left: 40px;
    color: #fff;
}
#wedone .text_part p{
    color: #f52d2d;
    text-transform: uppercase;
}
#wedone .text_part h3{
    color: #000000;
    font-size: 60px;
    font-family: 'myriad', sans-serif;
}


